## Fruitvice API

Another, more common way to use APIs, is through ``requests`` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [2]:
import requests
import json
import pandas as pd

We will obtain the **fruitvice API** data using requests.get("url") function. The data is in a json format.

In [3]:
data = requests.get("https://www.fruityvice.com/api/fruit/all")

We will retrieve results using ``json.loads()`` function.

In [4]:
results = json.loads(data.text)

We will convert our json data into pandas data frame.

In [5]:
df = pd.DataFrame(results)
df.head()

,genus,name,id,family,order,nutritions
0,Malus,Apple,6,Rosaceae,Rosales,"{'carbohydrates': 11.4, 'protein': 0.3, 'fat':..."
1,Prunus,Apricot,35,Rosaceae,Rosales,"{'carbohydrates': 3.9, 'protein': 0.5, 'fat': ..."
2,Persea,Avocado,84,Lauraceae,Laurales,"{'carbohydrates': 8.53, 'protein': 2, 'fat': 1..."
3,Musa,Banana,1,Musaceae,Zingiberales,"{'carbohydrates': 22, 'protein': 1, 'fat': 0.2..."
4,Rubus,Blackberry,64,Rosaceae,Rosales,"{'carbohydrates': 9, 'protein': 1.3, 'fat': 0...."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [6]:
df2 = pd.json_normalize(results)
df2.head()

,genus,name,id,family,order,nutritions.carbohydrates,nutritions.protein,nutritions.fat,nutritions.calories,nutritions.sugar
0,Malus,Apple,6,Rosaceae,Rosales,11.40,0.3,0.40,52,10.30
1,Prunus,Apricot,35,Rosaceae,Rosales,3.90,0.5,0.10,15,3.20
2,Persea,Avocado,84,Lauraceae,Laurales,8.53,2.0,14.66,160,0.66
3,Musa,Banana,1,Musaceae,Zingiberales,22.00,1.0,0.20,96,17.20
4,Rubus,Blackberry,64,Rosaceae,Rosales,9.00,1.3,0.40,40,4.50

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a **avocado**.

In [7]:
avocado = df2.loc[df2["name"] == "Avocado"]
(avocado.iloc[0]["family"]), (avocado.iloc[0]["genus"])

('Lauraceae', 'Persea')

Let's find out how many calories are contained in a banana!

In [8]:
calories_banana = df2.loc[df2["name"] == "Banana"]
print("Calories of banana  ", (calories_banana.iloc[0]["nutritions.calories"]))

Calories of banana   96